@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100,300;400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  background-color: hsl(217, 54%, 11%)
}

.container{
  max-width: 350px;
  margin: 0 auto;
}

.wrapper{
  margin: 2rem 1rem;
  padding: 20px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
}
.first-img{
border-radius: 12px;
overflow: hidden;
position: relative;
}

.first-img img{
  width: 100%;
  display: block;
  
}
.top-eye{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: hsla(178, 100%, 50%, 0.5);
cursor: pointer;
display: none;
}
.top-eye img{
  position: absolute;
  width: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.first-img:hover .top-eye{
  display: block;
}
.text-box a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 21px;
  padding: 20px 0;
  display: inline-block;
}
.text-box a:hover{
  color: hsl(178, 100%, 50%);
}
p{
  color: hsl(215, 51%, 70%);
  
}
.stats{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.eth, .days{
  display: flex;
  align-items: center;
}
.eth p{
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  padding-left: 8px;
}
.days p{
  padding-left: 8px;
}
hr{
  border-color: hsl(215, 32%, 27%);
  margin-top: 20px;
}
.author{
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.author img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 10px;
}
.author p a.name{
  color: white;
  font-size: 16px;
  margin-left: 5px;
  font-weight: 300;
}
.author p a.name:hover{
  color: aqua;
}




